<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
       .tab1
       {
           float:right;
       }
       .tab2
       {
           float:right;
       }
       .tab3
       {
           float:right;

       }
        #btn_tab3 {
            overflow: hidden;
            background-color: #1B3D52;
            position: sticky;
            top: 0;
            z-index: 999;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 19px;
            border:none;
        }
        #btn_tab3:hover
        {
            background-color: #ADD027;
            color: white;
        }

    </style>

</head>
<body>
    
    <div class="topnav">

        @{
            // ToDo: Cookie check for is logged in
            HttpCookie cookie_islogged = Request.Cookies["isLoggedIn"];

            if (cookie_islogged == null || cookie_islogged.Value == "False")
            {
                <a class="active" href="#kiwilabs">Home</a>
                <a href="#news">News</a>
                <a href="#about">About</a>
                <a href="#contacs">Contacs</a>

                <div class="tab1">@Html.ActionLink("Sign Up", "SignUp", "Home")</div>
                <div class="tab2">@Html.ActionLink("Sign In", "SignIn", "Home")</div>
            }
            else if (cookie_islogged.Value == "True")
            {

                <div>@Html.ActionLink("Dashboard", "Index", "Dashboard")</div>
                <div class="tab3"><button id="btn_tab3" onclick="deleteCookies()">Sign Out </button></div>
            }

        }

    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<script>
    function deleteCookies() {
        var cname = "isLoggedIn";
        var cvalue = "False";
        var exdays = 1;
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        window.location = "/";
        console.log(document.cookie);
    }
</script>
