@model deneme1.Models.DashboardModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" style="margin-top:10px ; padding-bottom:50rem">

    <h1 id="welcome_message" style="font-weight:bolder;"> Welcome @Model.userName </h1>

    <div class="col-md-8" style="background-color:darkorange">
        <h2>User's Info</h2>
        <p style="font-weight:bolder;font-size:large">Information of all users</p>
        <p style="font-weight:bold;font-size:large">ID / USERNAME / PASSWORD / AGE</p>


        <table>
            @{
                foreach (var item in Model.userList)
                {
                    <tr style = "font-weight:bold;font-size:medium;color:white">
                        <td><p>@item._id---/---</p></td>
                        <td><p>@item.userName---/---</p></td>
                        <td><p>@item.password---/---</p></td>
                        <td><p>@item.Age</p></td>
                    </tr>                                    
                }
            }
        </table>

        


    </div>


    <div class="col-md-4" style="background-color:darkolivegreen">
        <h2>Admin Panel</h2>
    </div>

</div>

